<html>
<h3>BTA's page of stuff</h3>
<body>
    <a href="{{ url_for('allfood') }}">BDA Food Options</a><br>
    <a href="{{ url_for('randomiser') }}">BDA Food Randomiser</a><br><br>
    <a href="{{ url_for('alldrinks') }}">BDA Drink Options</a><br>
    <a href="{{ url_for('drinksrandomiser') }}">BDA Drinks Randomiser</a><br><br>
    <!--<p>Note: Machine will reboot as soon as you click this link, beware.  Do not click if you're not BTA.</p><br>
    <a href="{{ url_for('reboot') }}">RTOS-01 Reboot</a></br> !-->
</body>
</html>

